.Message {
  margin: 15px;
}

.Message-author {
  font-weight: bold;
  font-size: 0.8rem;
}

.Message-timestamp {
  margin-left: 10px;
  color: #555;
  font-size: 0.6rem;
}

.Message-contents {
  margin: 5px 0;
}
